global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "netdata"
    metrics_path: /api/v1/allmetrics
    params:
      format: [prometheus]
    static_configs:
      - targets:
          - "127.0.0.1:19999"
